body {
    font-family: 'Poppins', sans-serif;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 360px;
    background: #fff;
    padding: 20px;
    padding-right: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0002;
}

.logo-box {
    text-align: center;
}
.logo-box img {
    max-width: 140px;
    margin-bottom: 10px;
}

h2, h3 {
    text-align: center;
}

input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: 'Poppins';
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.label {
    width: 100px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 34px;
    height: 34px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: #fff;
    cursor: pointer;
}

.value {
    min-width: 20px;
    text-align: center;
    font-size: 18px;
}

.sum-label {
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.textbox-titulo {
    margin-top: -5px;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 14px;
}

.total-box {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

.gerar {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

#canvas {
    display: none;
}
